[submodule "dependencies/json"]
	path = dependencies/json
	url = git@github.com:nlohmann/json.git
[submodule "dependencies/entt"]
	path = dependencies/entt
	url = git@github.com:skypjack/entt.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "dependencies/tileson"]
	path = dependencies/tileson
	url = git@github.com:J-Cieplinski/tileson.git
[submodule "dependencies/raylib"]
	path = dependencies/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "dependencies/box2d"]
	path = dependencies/box2d
	url = git@github.com:erincatto/box2d.git
